.table {
  display: inline-block;
}

.table .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.table .error {
  color: brown;
  font-size: small;
  font-weight: bold;
}

.table th:last-child,
.table td:last-child {
  text-align: right;
}
